@import "global.css";
@import "create.css";

.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0 15%;

    & input {
        width: 100%;
        height: auto;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid var(--primary-alt);
        background-color: var(--background-secondary);
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    & textarea {
        width: 100%;
        min-width: 200px;
        height: auto;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid var(--primary-alt);
        background-color: var(--background-secondary);
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}

.RegisterBox {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
}