@import "global.css";
@import "recipePreviewLayout.css";
@import "multiselect.css";

.filters {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--background-alt);
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters form {
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 95%;
}

@media (max-width: 800px) {
    .filters form {
        flex-direction: column;
        align-items: center;
        width: 75%;
        min-width: 200px;

        & div {
            width: 100%;

            & button {
                width: 100%;
            }
        }
    }
}



