.acitvationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & p {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    & h1 {
        font-size: 2rem;
    }

    & * {
        width: 100%;
        text-align: center;
    }

    & label {
        font-size: 1.5rem;
    }


}

.activationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}