@import "global.css";
@import "multiselect.css";

.createForm {
    & label {
        text-align: center;
        font-size: 1.5em;
    }
}

.optionalProperties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--background-alt);
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    & input {
        width: 100%;
        height: auto;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid var(--primary-alt);
        background-color: var(--background-secondary);
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}

.optionalProperties form {
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 95%;
}

@media (max-width: 800px) {
    .optionalProperties {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-inside: 10px;
        min-width: 200px;
        gap: 15px;

        & div {
            width: 100%;

            & button {
                width: 100%;
            }
        }
    }
}

.mainProperties {
    flex-direction: column;

    & textarea, & input {
        width: 90%;
        height: 100px;
        border: solid var(--primary-alt) 2px;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    & input {
        height: 40px;
        width: 45%;
        min-width: 200px;
    }
}

.imagePreview {
    width: 90%;
    border: solid var(--primary-alt) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.checkbox {
    color: var(--primary-alt);
    
}